.cards {
  margin-bottom: 171px;
}

.cards__lists {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.cards__random-button {
  visibility: hidden;
}

@media screen and (max-width: 425px) {
  .cards__text {
    margin: 32px 0 20px;
  }

  .cards__lists {
    gap: 15px;
    margin-bottom: 20px;
  }

  .cards__lists_fallback-text {
    color: #ff4d00;
  }

  .cards__random-button {
    visibility: visible;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    border: none;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .cards__random-button:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 375px) and (max-width: 375px) {
  .cards__text {
    font-size: 18px;
  }

  .cards__lists {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .cards__text {
    font-size: 15px;
  }
}
