.header {
    display: flex;
    align-items: center;
    padding: 32px 0 28px;
    
}

.header__logo {
    padding-right: 24px;
}

.header__date-and-location {
    margin: 0;
}

.header__add-clothes-btn {
    margin-left: auto;
    border: none;
    padding: 0;
    background-color: transparent;
}

.header__add-clothes-btn:hover {
    cursor: pointer;
}

.header__user-container {
    display: flex;
    align-items: center;
}

.header__username {
    padding: 0 12px 0 20px ;
    margin: 0;
}