.footer__container {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    padding: 0 42px;
    justify-content: space-between;
}

.footer__name {
    margin: 0;
}

.footer__year {
    margin: 0;
}

@media screen and (max-width: 425px) {
    .footer__container {
        padding: 0 16px;
    }
}